body {
    margin: 0;
}

ul {
    margin: 0;
}

.danhmuc {
    background-color: #2fa4e7;
    padding: 20px;
}

.danhmuc-danhsach {
    display: flex;
     list-style: none; /* Bỏ dấu chấm của thẻ li */
}

.danhmuc-muc {
    margin: 10px;
}

.danhmuc-lienket {
    color: white;
    text-decoration: none; /* Bỏ dấu gạch chân của thẻ a */
    font-size: x-large;
    font-weight: bold;
}

.danhmuc-lienket:hover {
    color: gray;
}

.logo {
    background-color: gray;
    height: 80px;
}

main {
    display: flex;
}

.noidung-trai {
    width: 80%;
    border-radius: 10px;
}

.noidung-phai {
    height: 1000px;
    background-color: chocolate;
    width: 20%;
}

.tieude {
    background-color: #2fa4e7;
    padding: 20px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
}

.tintuc-danhsach {
    display: flex;
    justify-content: space-between;
}

.baiviet {
    height: 200px;
    background-color: gray;
    width: 32%;
    text-align: right;
}

.noidung1 {
    font-size: 25px;
}


